---
layout: default
title: Schools
sidebar_view: no
---

<div class="contents full heading--center">
<p style="margin-right:0px;"><a href="http://hcpss-gis.maps.arcgis.com/apps/webappviewer/index.html?id=06528401636a4a48b1ef681c66a61a07" target="_blank"><strong>School Locator – 2018-2019 School Year</strong></a><br><span class="filemeta">Bus stop information will be available by mid-August.</span></p>
</div>

<p><a href="/schools/enrollment-reports/">View enrollment data →</a></p>

<div class="sch-card__filter-box" aria-labelledy="card-filter" role="region">
  <section class="sch-card__filter-box--sch-filters" role="region">
    <div class="sch-card__categories-container-labels">
      <fieldset role="radiogroup">
      <legend>School Level</legend>
        <label for="all-schools">
          <input type="radio" name="sch-lvl-filter" id="all-schools" class="label-change" value="*" checked=""> <span>All Schools (76)</span>
        </label>
        <label for="es">
          <input type="radio" name="sch-lvl-filter" id="es" class="label-change" value=".sch-card__es"> <span>Elementary (42)</span>
        </label>
        <label for="ms">
          <input type="radio" name="sch-lvl-filter" id="ms" class="label-change" value=".sch-card__ms"> <span>Middle (20)</span>
        </label>
        <label for="hs">
          <input type="radio" name="sch-lvl-filter" id="hs" class="label-change" value=".sch-card__hs"> <span>High (12)</span>
        </label>
        <label for="ed-center">
          <input type="radio" name="sch-lvl-filter" id="ed-center" class="label-change" value=".sch-card__ec"> <span>Education Center&nbsp;(3)&nbsp;</span>
        </label>
      </fieldset>
    </div>
  </section>

  <section class="contents smtb-mg">
    <form>
    <label for="cardsearchinput">Search:</label>
      <span><i class="fa fa-search" aria-hidden="true"></i></span>
      <input name="cardsearch" type="search" id="cardsearchinput" placeholder="Search for a school">
    </form>
    <div id="sch-container__filter-button">
      <span class="btn__small--light"> <i class="fa fa-filter" aria-hidden="true"></i> More Filters</span>
    </div>    
  <div class="result-main" style="font-size: 24px;" id="result-count"></div>
  </section>
  
</div>

<!--[if lt IE 9]>
<style type="text/css">
  .sch-card__categories { display:none; }
</style>
<![endif]-->

<div class="sch-card__categories">
  <fieldset role="radiogroup">
  <legend>Categories:</legend>

  <div class="contents nav-close" id="sch-card__categories--close">
  	<p style="float: right;cursor:pointer;margin-right: 1em;">Close Menu <i class="fa fa-times-circle" aria-hidden="true"></i></p>
  </div>

  <div class="result-main" id="result-count"></div>

  <section>
    <span><a href="#" id="clear-labels">Clear filters</a></span>
  </section>

  <section aria-labelledby="md-awards" role="region">
    <strong id="md-awards">Maryland Awards</strong>
    <div class="sch-card__categories-container-labels">
      <label for="green-school">
        <input type="checkbox" name="filter" id="green-school" class="label-change" value=".sch-card__green"> <span>Green School<br /></span>
      </label>  
      <label for="pbis-winner">
        <input type="checkbox" name="filter" id="pbis-winner" class="label-change" value=".sch-card__pbis"> <span><span aria-label="Positive Behavioral Intervention and Supports">PBIS</span> Award Winner<br /></span>
      </label>   
    </div>
  </section>

  <section aria-labelledby="natl-awards" role="region"> 
  <strong id="natl-awards">National Awards</strong>
    <div class="sch-card__categories-container-labels">
      <label for="leed-school">
        <input type="checkbox" name="filter" id="leed-school" class="label-change" value=".sch-card__leed"> <span>LEED Certification</span>
        <br />
      </label>      
      <label for="nces-school">    
        <input type="checkbox" name="filter" id="nces-school" class="label-change" value=".sch-card__nce"> National Council of Excellence School<br />
      </label>
      <label for="blue-ribbon-school">  
        <input type="checkbox" name="filter" id="blue-ribbon-school" class="label-change" value=".sch-card__blue-ribbon"> Blue Ribbon School
      </label>
    </div>
  </section>

  <section aria-labelledby="academics" role="region">
  <strong id="academics">Academics</strong>
    <div class="sch-card__categories-container-labels">
      <label for="title-i">    
        <input type="checkbox" name="filter" id="title-i" class="label-change" value=".sch-card__titlei"> Title I<br />
      </label>
      <label for="esm">  
        <input type="checkbox" name="filter" id="esm" class="label-change" value=".sch-card__esm"> Elementary School Model
      </label>
    </div>
  </section> 

  <section aria-labelledby="locations" role="region">
  <strong id="locations">Location</strong>
    <div class="sch-card__categories-container-labels">
      <label for="clarksville">
        <input type="radio" name="filter" id="clarksville" class="label-change" value=".sch-card__clarksville"> Clarksville<br />
      </label>
      <label for="columbia">  
        <input type="radio" name="filter" id="columbia" class="label-change" value=".sch-card__columbia"> Columbia<br />
      </label>
      <label for="dayton">  
        <input type="radio" name="filter" id="dayton" class="label-change" value=".sch-card__dayton"> Dayton<br />
      </label>
      <label for="ellicott-city">  
        <input type="radio" name="filter" id="ellicott-city" class="label-change" value=".sch-card__ellicottcity"> Ellicott City<br />
      </label> 
      <label for="elkridge">  
        <input type="radio" name="filter" id="elkridge" class="label-change" value=".sch-card__elkridge"> Elkridge<br />
      </label>        
      <label for="fulton">  
        <input type="radio" name="filter" id="fulton" class="label-change" value=".sch-card__fulton"> Fulton<br />
      </label>  
      <label for="glenelg">  
        <input type="radio" name="filter" id="glenelg" class="label-change" value=".sch-card__glenelg"> Glenelg<br />
      </label>  
      <label for="glenwood">  
        <input type="radio" name="filter" id="glenwood" class="label-change" value=".sch-card__glenwood"> Glenwood<br />
      </label>  
      <label for="hanover">  
        <input type="radio" name="filter" id="hanover" class="label-change" value=".sch-card__hanover"> Hanover<br />
      </label>  
      <label for="jessup">  
        <input type="radio" name="filter" id="jessup" class="label-change" value=".sch-card__jessup"> Jessup<br />
      </label>   
      <label for="laurel">  
        <input type="radio" name="filter" id="laurel" class="label-change" value=".sch-card__laurel"> Laurel<br />
      </label>
      <label for="marriottsville">  
        <input type="radio" name="filter" id="marriottsville" class="label-change" value=".sch-card__marriottsville"> Marriottsville<br />
      </label>      
      <label for="west-friendship">  
        <input type="radio" name="filter" id="west-friendship" class="label-change" value=".sch-card__westfriendship"> West Friendship<br />
      </label> 
      <label for="woodbine">  
        <input type="radio" name="filter" id="woodbine" class="label-change" value=".sch-card__woodbine"> Woodbine<br />
      </label>
    </div>
  </section>  
  </fieldset>
</div>

<section id="sch-carddata" class="flex-contain-row-wrap">

  {% for school in site.schools %}
  <div class="sch-card sch-card__{{ school.level }}{% if school.town != null %} sch-card__{{ school.town | downcase | remove: " " }}{% endif %}{% if school.green != null %} sch-card__green{% endif %}{% if school.pbis != null %} sch-card__pbis{% endif %}{% if school.title-I != null %} sch-card__titlei{% endif %}{% if school.esm != null %} sch-card__esm{% endif %}{% if school.blue != null %} sch-card__blue-ribbon{% endif %}{% if school.nce != null %} sch-card__nce{% endif %}{% if school.leed != null %} sch-card__leed{% endif %}">

      <div class="{{ school.level }}-lazy sch-card__bg-image" data-original="{{ school.bg-image }}"></div>

      <div class="heading__no-reset--center">
          <img style="background-color: {{ school.primary-color }};" class="{{ school.level }}-lazy sch-card__mascot-image" src="http://placeholdit.imgix.net/~text?&w=500&h=260" data-original="{{ school.mascot }}" alt="Logo: {{ school.title }} mascot" />
            <h2 class="sch-card__name">{{ school.title }}</h2>
            <p aria-label="phone number {{ school.phone }}" style="font-size:20px;">{{ school.phone }}</p>
            <p><i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://{{ school.acronym }}.hcpss.org" target="_blank"> Web Site</a></span></p>
            <p>{{ school.address }}, {{ school.town }},&nbsp;MD&nbsp;{{ school.zip }}</p>
            <p>Principal - {{ school.administrator }}</p>
            <p aria-label="school hours {{ school.hours }}">{{ school.hours }}</p>          
        <a onclick="scrollLoad()" class="btn__small sch-card__modal--toggle" data-popup-open="{{ school.acronym }}" tabindex="0" href="#">View School Details</a>
      </div>

      <section class="sch-card__modal" data-popup="{{ school.acronym }}">
        <div class="sch-card__modal--close-area" data-popup-close="{{ school.acronym }}"></div>
        <div class="sch-card__modal--overlay">
          <span class="sch-card__modal--overlay-inner">
          <h2>{{ school.title }}</h2>
          <section class="contents">
            <div class="col-left">
              <p><strong>Address:</strong> {{ school.address }}, {{ school.town }},&nbsp;MD&nbsp;{{ school.zip }}</p>
              <p><strong>Phone:</strong> {{ school.phone }}</p>
              <p><strong>Fax:</strong> {{ school.fax }}</p>
              {% if school.profile != null or school.msde-report != null or school.walk-area != null %}
              <p><strong>Data</strong></p>
              {% endif %} 
              {% if school.profile %}
              <div class="sch-card__data">
                <i class="sch-card__icon fa fa-graduation-cap fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/profiles/prof_{{ school.level }}_{{ school.file-name }}.pdf"> School Profile</a></span>
              </div>
              {% endif %} 
              {% if school.msde-report != null %}
              <div class="sch-card__data">
                <i class="sch-card__icon fa fa-line-chart fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/performance/ispr_en_{{ school.level }}_{{ school.file-name }}.pdf"> MSDE Performance Report</a></span>
              </div>
              {% endif %} 

              {% if school.walk-area %}
              <div class="sch-card__data">
                <i class="sch-card__icon fa fa-map-o fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/{{ school.walk-area-url }}"> Walk Area Map</a></span>
              </div>
              {% else %}
              <div class="sch-card__data">
                <i class="sch-card__icon fa fa-map-o fa-2"></i><span class="sch-card__icon-text"> All Students Transported</span>
              </div>  
              {% endif %} 

              {% if school.green != null or school.pbis != null or school.blue != null or school.nce != null or school.healthy-howard != null %}
              <p><strong>Achievements</strong></p>
              {% endif %}

              {% if school.green != null %}
              <div class="sch-card__data">
                <i class="sch-card__icon fa fa-leaf fa-2" style="color:#015700;"></i><span class="sch-card__icon-text"> {% if school.green-url != null %}<a href="{{ school.green-url }}" target="_blank">{% endif %} Green School{% if school.green-url != null %}</a>{% endif %}  – {{ school.green-year }}</span>
              </div>
              {% endif %}

              {% if school.leed != null %}
              <div class="sch-card__data">
                {% case school.leed-level %}
                  {% when 'Gold' %}                         
                    <i class="sch-card__icon fa fa-leaf fa-2" style="color:#FECC6A;"></i><span class="sch-card__icon-text">
                  {% when 'Silver' %}
                    <i class="sch-card__icon fa fa-leaf fa-2" style="color:#A8A9AD;"></i><span class="sch-card__icon-text">
                  {% when 'Platinum' %}
                    <i class="sch-card__icon fa fa-leaf fa-2" style="color:#e5e4e2;"></i><span class="sch-card__icon-text">
                  {% else %}
                    <i class="sch-card__icon fa fa-leaf fa-2" style="color:#BA8748;"></i><span class="sch-card__icon-text">
                {% endcase %}
                <a href="http://www.hcpss.org/schools/leed-certified/" target="_blank">LEED School, {{ school.leed-level }} – {{ school.leed-year }}</a></span>
              </div>
              {% endif %}

              {% if school.pbis != null %}
              <div class="sch-card__data">
              {% case school.pbis-level %}
                {% when 'Gold' %}
                  <i class="sch-card__icon fa fa-star fa-2" style="color:#FECC6A;"></i><span class="sch-card__icon-text"> PBIS Maryland {{ school.pbis-level }}</span>
                {% when 'Silver' %}
                  <i class="sch-card__icon fa fa-star fa-2" style="color:#A8A9AD;"></i><span class="sch-card__icon-text"> PBIS Maryland {{ school.pbis-level }}</span>
                {% else %}
                  <i class="sch-card__icon fa fa-star fa-2" style="color:#BA8748;"></i><span class="sch-card__icon-text"> PBIS Maryland {{ school.pbis-level }}</span>                
              {% endcase %}
              </div>
              {% endif %}
              {% if school.blue != null %}
        			<div class="sch-card__data">
        				<i class="sch-card__icon fa fa-star fa-2" style="color:#0063A4;"></i><span class="sch-card__icon-text"> Blue Ribbon School – {{ school.blue-year }}</span>
        			</div>
  			      {% endif %}
              {% if school.nce != null %}
            	<div class="sch-card__data">
            		<i class="sch-card__icon fa fa-trophy fa-2" style="color:#C51230;"></i><span class="sch-card__icon-text"> <a href="https://www.nasc.us/national-councils-of-excellence" target="_blank">National Council of Excellence School</a> – {{ school.nce-year }}</span>
            	</div>
            	{% endif %}
            </div>
          <div class="col-right">
            <p><strong><a href="{{ school.gmap }}" target="_blank">Get Directions</a></strong></p>
              <img class="sch-card__modal--overlay-map sch-card__modal--overlay-map-lazy" data-original="http://www.hcpss.org/f/mrb/google-maps/{{ school.acronym }}-school-locate.jpg" alt="Map image: {{ school.title }} location">
            </div>
          </section>
          </span>
          <p><a class="sch-card__modal--close-btn" href="#" data-popup-close="{{ school.acronym }}">Close <i class="fa fa-times-circle" aria-hidden="true"></i></a></p>
        </div>
      </section>
  </div>
  {% endfor %}
</section>