
<div class="header group">
  <div class="header-inner group" itemscope itemtype="http://schema.org/Organization">
    <div class="logomark">
      <a href="/"><img itemprop="logo" class="logo shadow-smaller"
       src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-logo-outlined.png" height="60" width="60" alt="" /></a>
      <h1><a href="/">Howard County Public School System</a></h1>
    </div>
  </div>

<!--googleoff: index-->

<nav class="nav-container">

</nav>

<!--googleon: index-->
</div>


<div class="container page group">
<div class="main group">

<!-- <p>&mdash;&mdash; Page Template &mdash;&mdash;</p> -->
<h1>{{ page.title }}</h1>
  {% if page.sidebar_view == null %}
    <div style="width:100%" class="body-content">
  {% elsif page.sidebar_view %}
    <div class="body-content">
  {% endif %}
