
<div class="header group">
  <div class="header-inner group" itemscope itemtype="http://schema.org/Organization">
    <div class="logomark">
      <a href="/"><img itemprop="logo" class="logo shadow-smaller"
       src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-logo-outlined.png" height="60" width="60" alt="" /></a>
      <h1><a href="/">Howard County Public School System</a></h1>
    </div>
    <div class="sm">
      <link itemprop="url" href="http://www.hcpss.org/">
      <ul class="social-media-icons group">
        <li><a target="_blank" id="social-media-icon-twitter" href="https://twitter.com/hcpss/" itemprop="sameAs"><i aria-label="twitter" class="fa fa-twitter-square fa-3"></i></a></li>
        <li><a target="_blank" id="social-media-icon-facebook" href="https://www.facebook.com/hocoschools/" itemprop="sameAs"><i aria-label="facebook" class="fa fa-facebook-square fa-3"></i></a></li>
        <li><a target="_blank" id="social-media-icon-instagram" href="https://instagram.com/hocoschools/" itemprop="sameAs"><i aria-label="instagram" class="fa fa-instagram fa-3"></i></a></li>
        <li><a target="_blank" id="social-media-icon-vimeo" href="https://www.vimeo.com/hcpss/" itemprop="sameAs"><i aria-label="vimeo channel" class="fa fa-vimeo-square fa-3"></i></a></li>
        <li><a target="_blank" id="social-media-icon-youtube" href="https://www.youtube.com/hcpsstv/" itemprop="sameAs"><i aria-label="youtube channel" class="fa fa-youtube-square fa-3"></i></a></li>
        <li><a target="_blank" id="social-media-icon-super-blog" href="https://superintendent.hcpss.org/"><img src="http://s3.amazonaws.com/hcpss.web.site/images/blog-icon.png" alt="Superintendent's Blog"></a></li>
      </ul>
    </div>
  </div>

<!--googleoff: index-->

<nav class="nav-container">

</nav>

<!--googleon: index-->
</div>


<div class="container page group">
<div class="main group">

<!-- <p>&mdash;&mdash; Page Template &mdash;&mdash;</p> -->
<h1>{{ page.title }}</h1>
  {% if page.sidebar_view == null %}
    <div style="width:100%" class="body-content">
  {% elsif page.sidebar_view %}
    <div class="body-content">
  {% endif %}
