<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main id="main-content" class="main">
<nav class="secondary-nav">
  <div class="secondary-nav__inner">
  <input class="second-state" type="checkbox" name="second-nav-state" id="secondary-nav--toggle" autocomplete="off">
  <h2><a href="/schools/">School Directory</a></h2>
    <label class="secondary-nav__inner--toggle-btn" tabindex="0" for="secondary-nav--toggle"><span class="secondary-nav__inner--hidden">Secondary Navigation</span></label>
      <ul class="secondary-nav__collapsable">
        <li><a href="http://www.hcpss.org/schools/opening-and-closing-times/">Opening and Closing Times</a></li>
        <li><a href="/schools/enrollment-reports/">Enrollment Reports</a></li>
      </ul>
  </div>
</nav>

<div class="hero-heading">
<h1>School Directory</h1>
</div>
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
